---
import Base from "../../layouts/Base.astro";
---

<Base title="Create a new project" description="" image="" imageAlt="">
  <div class="bg-zinc-100 dark:bg-black flex w-full h-screen justify-center items-center p-4">
    <div class="bg-white dark:bg-zinc-900 p-4 w-full sm:w-96 rounded-lg">
      <h1>Create Project</h1>
    </div>
  </div>
</Base>
